.img-container{
    position: relative;
  }
  .img{
    flex:0 0 auto;
    margin:0 auto;
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: -5px 0 5px -5px rgba(0,0,0,.4), 5px 0 5px -5px rgba(0,0,0,.4);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .fieldselect:hover{
    color: #f2be42;
  }
  .fieldselect{
    cursor: pointer;
    color:#000000;
    background-color: transparent;
  }
  .divider{
    margin-top: 4.7%;
  }
  .box{
    box-sizing: border-box;
    border: 3px solid transparent;
    background-clip:padding-box;
  }
  .flex-container{
    display: flex;
    flex-wrap: wrap;
    height: 120vh;

  }
  .table{
    overflow: auto;
    color:#ffffff;
    
    margin-bottom: .5rem;
    margin-left: .5rem;
    max-height: 85vh;
    max-width: 85vw;
  }
  th,td{
    border: 1px solid #a0a0a0;
    min-width: 80px;
    padding: 1.5rem 1rem;
}
td:hover{
  background-color: rgb(45, 48, 53);
}

  table{
    border-collapse: collapse;
  }
  .item1{
    flex:1;
    height: 100vh;
  }

  .item2::-webkit-scrollbar{
    width: 70%;
  }
  .tablehover:hover{
    background-color: rgba(0,0,0,.1);
  }
  .header-container{
    display: flex;
    flex-direction: column;
  }
  .item2{
      flex: 11;
      height: 100vh;
      overflow-y: scroll;
  }
  .item2:after {
    content: "";
    display: block;
    height: 60px;
    width: 100%;
  }
  .item3{
    flex:82;
    height: 100vh;
    background-color: #eee;
    overflow-y:hidden;
    overflow-x:hidden;
    flex-wrap: wrap;
  }
  .selectable{
      position: absolute;
      top:10px;
      left:10px;
      border: 1px solid #BFC4E8;
  }
  .item4{
    height: 100vh;
    scroll-margin-bottom: 50px;
    overflow: auto;
    flex:20;
    padding:5px;
    color: black;
  }
  .item4::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }
    
  .item4::-webkit-scrollbar-thumb {
    background-color: #888888;
  }
  
  .item4::-webkit-scrollbar-track-piece:end {
    margin-right: 50px; 
  }
  
  .item4::-webkit-scrollbar-track-piece:start {
    margin-left: 50px;
  }
  .item4:after {
    content: "";
    display: block;
    height: 100px;
    width: 100%;
  }
  .small-font{
    font-size: small;
    font-weight: bold;
  }
  .tag-input-title{
    flex:1 1;
  }
  .tag-input-toolbar {
    display: flex;
    flex-direction: row;
}
.tag-input-toolbar-iconbutton {
  color: #f2be42;
  width: auto;
  height: auto;
  padding: 0 .25em;
  background-color: initial;
  border:none;
}
.tag-input-toolbar-separator {
  width: .1px;
  border: .5px solid hsla(0,0%,100%,.1);
  height: 18px;
  margin: 0 .25em;
}
.tag-input-text-input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px;
  background: rgba(0,0,0,.1);
  border: 1px solid hsla(0,0%,100%,.1);
  min-height: 2em;
  padding: .25em .5em;
  font-size: 90%;
}
.tag-input-text-input-row input {
  color: #fff;
  flex-grow: 1;
  background: none;
  border: none;
}
.rowcolfields:hover{
  background-color: rgba(0,0,0,.1);
}
  .tag-input {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 100%!important;
    flex-direction: column;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: hsla(0,0%,100%,.05);
}
.tag-input-header {
  display: flex;
  flex-direction: row;
  text-shadow: none;
  font-size: 80%;
  color: black;
  margin: 0;
  font-weight: bold;
  line-height: 1.2;
}
.tag-input-body-container {
  overflow-x: hidden;
  overflow-y: auto;
}
.tag-input-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.tag-item-block {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 2px 0;
  margin-top: 5%;
  font-size: small;
}
.tag-color {
  width: 8px;
}
.tag-item-block-2 {
  width: 100%;
}
.tag-item {
  display: flex;
  flex-direction: row;
  background-color: rgba(248,248,248,1);
  color: black;
  font-weight: bold;
}
.tag-item .tag-content {
  transition: 1s;
}

.tag-content {
  flex: 1 1;
}
.tag-name-container {
  display: flex;
  flex-direction: row;
  min-height: 1.8em;
  align-items: center;
}
.tag-name-body:hover{
  opacity: 0.3;
}
.tag-name-body {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
}
.tag-name-text {
  width: 172px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
}
.tag-icons-container {
  display: inline-flex;
  font-weight: 600;
  margin-left: -15px;
  align-items: center;
}
.tag-index-span:hover{
  color: #2980b9;
}
.tag-index-span {
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 16px;
}
.tag-item-block .tag-item-label-container {
  display: flex;
  flex-direction: row;
  border: 1px solid hsla(0,0%,100%,.35);
  background-color: rgba(248,248,248,1);
}
.tag-item-block .tag-item-label-container-item2 {
  border-left: 1px solid hsla(0,0%,100%,.35);
  flex: 1 1;
}
.flex-center {
  display: flex;
  align-items: center;
}
.tag-item-label {
  color: #000000;
  opacity: 0.7;
}
:host ::ng-deep .p-dialog-header{
  background-image: none;
  background-color:#000000;
  color:#f2be42
}
:host ::ng-deep .p-dialog-footer{
  background-image: none;
  background-color:#000000;
  color:#f2be42
}
:host ::ng-deep .p-dialog-content{
  background-image: none;
  background-color:#000000;
  color:#f2be42
}
.tag-item-label {
  min-height: 1em;
  display: flex;
  flex-direction: row;
  padding-left: 3px;
  font-size: .95em;
}
  .root-61{
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    background-color: #bdc3c7;
    padding: 0px 14px 0px 24px;
    height: 44px;
  }
  .root-103 {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    background-color: rgb(45, 48, 53);
    padding: 0px 14px 0px 24px;
    height: 44px;
}
  .primarySet-65 {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: stretch;
  }
.secondarySet-72 {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: stretch;
}
.item-66 {
  flex-shrink: 0;
  display: inherit;
  padding: 15px;
  color: #ffffff;
}

 
  ul{
    list-style-type: none;
  }
  li a{
    font-size: x-large;
  }
  li{
    color: #888888;
    margin-bottom: 20px; 
    padding: 5px;
    border-radius: 2px;
  }



  li:hover{
    background-color: #273c75;
    color: #ffffff;
  }
  .asset-item{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: .5em;
    border: 1px solid hsla(0,0%,100%,.1);
  }
  .asset-item:hover{
    background-color: #eee;
    color: black;
  }
  .selected{
    background-color: #bdc3c7;
    color: #ffffff;
  }
  .asset-item-image{
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    background-color: #eee;
    text-align: center;
    position: relative;
    margin: auto;
    width: 100%;
  } 
  .asset-item-image1{
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    background-color: #eee;
    text-align: center;
    position: relative;
    margin: auto;
    width: 100%;
  }
  .asset-item-metadata{
    display: flex;
    flex-direction: row;
    font-size: xx-small;
    white-space: nowrap;
  }
  .asset-preview1{
    display: flex;
    flex-grow: 1;
    margin-left: -10px;
  }
  .asset-preview{
    display: flex;
    flex-grow: 1;
  }
  .asset-preview-container{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  .asset-preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.canvasselect{
  background-color: rgba(0,255,0,0.5);
}
.canvasremove{
  background-color: transparent;
}
@media screen and (min-width: 1400px) {
  .item2{
    flex:4;
  }
  .item3{
    flex:21;
  }
  .item4{
    flex:15;
  }
}
@media screen and (min-width: 1500px) {
  .item2{
    flex:2;
  }
  .item3{
    flex:10;
  }
  .item4{
    flex:10;
  }
}
@media screen and (min-width: 1600px) {
  .item2{
    flex:2;
  }
  .item3{
    flex:8;
  }
  .item4{
    flex:4;
  }
}
@media screen and (min-width: 2400px) {
  .item2{
    flex:1;
  }
  .item3{
    flex:2;
  }
}
  