<div class="row" >
    <div class="col-md-2 pr-1 ">
        <ul class="bg-design-all insideCSS max_h">
            <!-- <li><a routerLink="configuration" routerLinkActive="active_in">Configuration</a></li> -->
            <li><a routerLink="mail-listener" routerLinkActive="active_in">Email Injection</a></li>
            <!-- <li><a routerLink="sharepoint-listener" routerLinkActive="active_in">Sharepoint Listener</a></li> -->
            <li><a routerLink="entity-routing" routerLinkActive="active_in">Entity Routing</a></li>
            <!-- <li><a routerLink="change-password" routerLinkActive="active_in">Change Password</a></li> -->
        </ul>
    </div>
    <div class="col-md-10 pl-0" style="background-color: #f4f4f4 !important;">
        <div class="max_h mr-2 ">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
