<h6 class="font_weight mt-2"> 
    <span class="ml-3"> Configuration Settings</span>
</h6>
<div style="overflow: hidden;" class="m-2 p-2">
  <div class="row">
    <div class="col-md-6">

      <div class=" mb-3">
        <div class="permisionDiv">
          <div> <span class="f-13">Finance approval</span>
            <span class="f-right">
              <label class="switch">
                <input type="checkbox" >
                <span class="slider round"></span>
              </label>
            </span>
          </div>
        </div>
        <div class="permisionDivdescription">
         If you want Finance approvals from SERINA then turn ON this.
        </div>
      </div>

    </div>
  </div>

</div>
