// .ulTab{
//     background: #f5e1c6;
//     padding: 5px 10px;
//     width: fit-content;
//     border-radius: 10px;
// }
// .positionCreateUpload{
//     position: absolute;
//     right: 30px;
//     top: 53px;
//     z-index: 11;
// }
:host ::ng-deep .popover-header {
  font-size: 13px !important;
  font-weight: 600;
}
.action-i {
  font-size: 18px;
  position: relative;
  top: 3px;
  height: 20px;
  left: 8px;
  width: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.tableDiv {
  max-height: 84vh;
  min-height: 78vh;
}
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 10px;
  width: 100%;
}
