<h6 class="font_weight mt-2"> 
    <span class="ml-3"> Change your password</span>
</h6>
<div class="row">
    <div class="col-md-7">
        <form [formGroup]="changePassword" (ngSubmit)="saveData()" class="formDiv">

            <table style="width: 100%;">
                <tr class="trHeight">
                    <td class="tdLeft f-13">Old Password <span class="colon">:</span></td>
                    <td class="tdRight">
                        <input type="text" formControlName="oldPassword"  class="form-control f-13"/>
                    </td>
                </tr>

                <tr class="trHeight">
                    <td class="tdLeft f-13">New Password <span class="colon">:</span></td>
                    <td class="tdRight">
                        <input type="password" formControlName="newpassword" class="form-control f-13"/>
                    </td>
                </tr>

                <tr class="trHeight">
                    <td class="tdLeft f-13">Confirm Password <span class="colon">:</span></td>
                    <td class="tdRight">
                        <input type="text" formControlName="confirmPassword" class="form-control f-13"/>
                    </td>
                </tr>
            </table>

            <div class="mt-4 d-flex">
                <button class="btn btnbg-s f-13 mr-3" type="submit">Save</button>
                <button class="btn btncancel f-13" type="button">Cancel</button>
            </div>
        </form>
    </div>
</div>

